body {
    background-color: rgb(245, 245, 245);
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    color: black;
    top:0;
    margin: auto;
    overflow-x: hidden;
    
}

.box {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 5px 10px 0px rgba(221, 227, 255, 1);
    position: static;
    top: 0;
    margin-right: 0;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(0, 0, 0);
}

#anvorgesa {
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px 0px rgb(151, 170, 255);
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
    border: 0px;
    float: right;
    margin-top: 1.5rem;
    margin-right: 2rem;
}

.btmbar {
    background-color: rgb(134, 134, 134);
    width: 100%;
    color: aliceblue;
    height: auto;
    margin-bottom: 0px;
    overflow: hidden;
    position: static;
    bottom: 0;
    padding: 50px;
    font-size: 20px;
}

.relleno {
    display: flex;
    line-height: 200%;
}

.imagen {
    height: auto;
}

img {
    max-width: 80%;
}

h1 {
    font-size: 3rem;
    margin: 2%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

.sesion {
    background-color: rgb(241, 241, 241);
    /* background-color: orange; */
    height: 35rem;
    width: 40rem;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 2px rgb(151, 170, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    overflow-y: hidden;
}

.nuevaC {
    /* background-color: blue; */
    width: 50%;
    height: 90%;
    position: relative;
    margin-top: 2%;

}

.iniciarS {
    /* background-color: red; */
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 2%;
}

.inputs {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.input_correo {
    font: inherit;
    width: 100%;
    border: 0;
    padding-top: 2rem;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 2rem;
    color: black;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 1rem;
}

.input_correo::placeholder {
    color: black;
}

.input_etiqueta {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
    margin-top: 10%;
}

.botones {
    background-color: white;
    color: black;
    border: 0;
    box-shadow: 0px 3px 10px 3px rgb(151, 170, 255);
    border-radius: 15px 15px;
    font: inherit;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.iniciar-buttons a {
    margin-right: 30px;
    font-size: 24px;
    padding: 12px 24px;
}

.papa {
    display: grid;
    place-items: center;
}
p {
    color: black;
}

.user-table {
    margin-top: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style for map widget */
  #map {
    margin-top: 50px;
  }
  
  #map-canvas {
    height: 400px;
  }
  
  /* Style for graphs */
  #analytics {
    margin-top: 50px;
  }
  
  #graph-1, #graph-2 {
    width: 50%;
    height: 300px;
    display: inline-block;
  }
  
  /* Style for support form */
  #support {
    margin-top: 50px;
  }

.row::after {
  content: "";
  display: table;
  clear: both;
}

select {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  
  margin-right: 1rem; 
}

label[for="pais"] {
  text-align: left;
  display: block;
  font-size: 1.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#country {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 6px;
  margin-right: 2px;
}

*::-webkit-scrollbar-track {
  width: 14px; 
  
}

*::-webkit-scrollbar-thumb {
  background-color: #5d5c5c;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #c2c2c2;
}
